@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.flex-grow.overflow-auto::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.flex-grow.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 10px; 
  border: 1px solid #f5f5f5;
}

.flex-grow.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0;
}

.flex-grow.overflow-auto::-webkit-scrollbar-button {
  display: none;
}

.flex-grow.overflow-auto {
  scrollbar-width: thin;
  scrollbar-color: #d0d0d0 #f5f5f5;
}
